

 <!doctype html> 
 <html lang="en"> 
 <head> 
     <meta charset="UTF-8" />
     <title>Tweet Generator</title>
     <style>
         body {
             background-image: url('https://images3.alphacoders.com/854/thumb-1920-854601.png');
             background-size: cover;
             background-repeat: no-repeat;
             overflow: hidden;
             background-color: #382A1E;
         }

         h1 {
             width: 50%;
             float: left;
             color: white;
             margin: 5%;
             margin-top: 20%;
             font-size: 40px;
         }
     </style>
     
 </head>
 <body>
 
    <h1> {{ result }} </h1>
 
 </body>
 </html>